<h1>Articles</h1>
<ul>
  <% @articles.each do |article| %>
    <li><%= link_to(article.title, "/articles/#{article.id}") %>
      <%= link_to("| edit ", "/articles/#{article.id}/edit") %>
      <%= link_to("| delete", "/articles/#{article.id}", method: "delete", data: { confirm: "Are you sure?" }) %>
    </li>
  <% end %>
</ul>

<%= link_to("Add a article", "articles/new") %>
